[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Gnome Context Switcher
Icon=~/PersonalWorkspace/git/contextswitch/csgnome.png
Exec=~/PersonalWorkspace/git/contextswitch/ContextSwitcherGnome.py
