Package: gnome-context-swticher
Source: gnome-context-switcher
Version: 1.0.0
Architecture: amd64
Maintainer: Joseph Spencer Seidel <jsseidel@fastmail.com>
Installed-Size: 46
Depends: python3-gi, libappindicator3-dev, gir1.2-notify-0.7, libnotify-bin, libnotify4
Section: text
Priority: optional
Homepage: https://github.com/jsseidel/contextswitch
Description: Gnome Context Switcher is an approximation of KDE Activities.
 Gnome Context Switcher is an approximation of KDE Activities. With it, you can:
 - Create an unlimited number of desktop contexts (e.g. work, personal, writing, developing)
 - Switching contexts customizes the icons on the dock as well as your desktop background
 - Can run an optional "load" and "unload" script to do things like
   create and remove symlinks or directories so that your context's
   directories are where you thinkg they should be.
